<%- include('partials/header') %>

<div class="container py-5">
  <h1 class="mb-4">About Me</h1>

  <div class="row">
    <div class="col-md-4 mb-3">
      <img
      src="images/popesmoke.jpg"
        class="img-fluid"
        alt="popesmoke"
      />
    </div>
    <div class="col-md-8">
      <p class="lead">
        My name is Samiul Alim Rafid. I'm a Software Engineering student at Centennial college I Love to play games and develop them.
 I am at my final year of my 3 year diploma program. I love to play games and learn about computer languages.
 I love to seek out the various worlds that gaming can offer.
 I also love to communicate with computers and it brings me bliss when they turn out to be as i wanted them
      </p>

      <h2 class="mb-3">Background</h2>
      <p class="lead">
        My professional career began at Centennial College, where I created a wide range of goods and websites. Later, I worked as an intern for SquareEnix, where I accomplished a lot and developed my career.
.
      </p>

      <h2 class="mb-3">Skills</h2>
      <p class="lead">
        JavaScript, Python, and C are among the languages I am proficient in, and I am also knowledgeable in web development frameworks like React, Node.js, and Express.js.
        I've worked with database management systems like MySQL and MongoDB, and I know how to use Git, a version control program and love to design game levels.

      </p>

      <h2 class="mb-3">Hobbies</h2>
      <p class="lead">
        I am very fond of nature and long hikes. also i play and try to think up ideas for game development. Listening to songs is also one of my biggest hobbies
      </p>

      <h3>Contact Me</h3>
      <p>
        You can reach me at
        <a href="mailto:srafid1@my.centennialcollege.ca"
          >srafid1@my.centennialcollege.ca</a
        >.
      </p>

      <a href="/" class="btn btn-primary" download>Download My Resume</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
