<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <!-- Include header -->
    <%- include('partials/header') %>
    <div class="container py-5">
      <h1 class="mb-3">Welcome to My Portfolio</h1>
      <p class="lead">
       Hello, I'm Samiul Alim Rafid, a committed software engineer with a love of both technology and problem-solving.
       I'm an expert in creating scalable, high-performance web applications that provide superior user experiences.
       I bring a blend of technical know-how and original thought to my work thanks to my education in computer science and practical experience with contemporary web development frameworks
      . I also create games with physics and stages.
.
      </p>

      <h2 class="mb-3">Mission Statement</h2>
      <p class="lead">
        My objective is to use technology to create innovative software solutions that increase productivity,
        efficiency, and growth for both businesses and individuals. I put a lot of effort into keeping up with the most recent commercial trends and extending the potential
        of software development. Whether I'm building a dynamic web application or refining an existing system, 
        my aim is to go above and beyond expectations and offer solutions that genuinely make a difference.


      </p>

      <a href="/about" class="btn btn-primary">Learn More About Me</a>
    </div>
    <!-- Include footer -->
    <%- include('partials/footer') %>
  </body>
</html>
