<%- include('partials/header') %>

<div class="container py-5">
  <h1 class="mb-4">Services</h1>

  <!-- Service 1 -->
  <div class="row mb-5">
    <div class="col-md-4">
      <img src="path/to/service1.jpg" class="img-fluid" alt="Service 1" />
    </div>
    <div class="col-md-8">
      <h2>Website Development</h2>
      <p>
       delivering scalable, high-performance web apps suited to your company's requirements. Focus on HTML, CSS, JavaScript, React, Node.js, and Express.js.

      </p>
    </div>
  </div>

  <!-- Service 2 -->
  <div class="row mb-5">
    <div class="col-md-4">
      <img src="path/to/service2.jpg" class="img-fluid" alt="Service 2" />
    </div>
    <div class="col-md-8">
      <h2>Game Level Development</h2>
      <p>
        Creating user-friendly level design applications for windows
        platforms. Experienced in using blender and phy6.
      </p>
    </div>
  </div>

  <!-- Service 3 -->
  <div class="row mb-5">
    <div class="col-md-4">
      <img src="path/to/service3.jpg" class="img-fluid" alt="Service 3" />
    </div>
    <div class="col-md-8">
      <h2>Project management</h2>
      <p>
        Providing project management services to help define the project
        scope, plan out development strategies, and ensure smooth project
        execution.
      </p>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
